.navbar{
    background-color: #ededed;
}
*{
    margin: 0;
    padding: 0;
    
}

.fonte{
    color: #1E1E1E;
    font-family: 'Noto Serif', Serif;
}

.logo-principal{
    margin: 40%;
    width: 100%;
    height: 100%;
}

.cor-nav{
    background-color: #ededed;
}

.cor-content{
    background-color:#ededed;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 16vh;
}

nav a:hover{
    color: rgb(17, 17, 17);
    transition: 1.2s;
}

nav a:active{
    background-color: rgb(117, 117, 117);
}

nav a:visited{
    color: rgb(85, 85, 85);
}


.right-login {
    width: 28vw;
    height: 30vh;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    float: left;
}

.container {
    align-items: center;
    text-align: center;
    margin: 20px;
}

.card {
    align-items: center;
    text-align: center;
    margin: 20px;
}

.img {
    float: right;
    margin-right: 25%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.textfield {
    width: 91%;
    height: 18%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 11px 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.textfield > input {
    width: 140%;
    margin: 3% 4% 0% -20%;
    border-radius: 10px;
    padding: 15px;
    background: #dcdada;
    color: #000;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.textfield > label {
    color: #000;
    font-weight: bold;
    font-size: 88%;
    margin: 5% 0% -3% -20%;
}

.textfield > input::placeholder {
    color: #000;
}

.btn-login {
    width: 50%;
    padding: 8% 0%;
    margin: 5% 1% 1% 1%;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    color: #000;
    background: #F2BC1B;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #bab6b6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-login:hover{
    background-color: #a07904;
    transition: 1s;
}

.peer{
    position: relative;
}

footer {
    padding: 2% 0% 2% 20%;
}

