*{
    padding: 0;
    margin: 0;
}

nav a:active{
    background-color: rgb(145, 145, 145);
}

form{
    background-color: rgb(199, 199, 199);
    width: 80%;
    margin: 2% auto;
    padding: 0.1% 1% 1% 1%;
    border-radius: 10px;
}

form .btn{
    color: #f2f2f2;
    background-color: rgb(67, 123, 226);
    border-color: white;
}

form .btn:hover{
    background-color: rgb(0, 54, 105);
    border-color: rgb(207, 207, 207);
    transition: 1s;
}

.topbug{
    padding-top: 10px;
}

.form-check-input, .form-check-label{
    margin-top: 6px;
}

#erro{
    color: rgb(180, 1, 1);
}

.btn-primary{
    margin-top: 14px;
}

footer a:hover{
    color: rgb(223, 223, 223);
}